/*
 * Main stylesheet for PHPbench
 * @author Wouter J
 * @version 1.0
 */

/* CSS Reset */
html, body, body *
{
	margin: 0;
	padding: 0;

	border: none;
	outline: none;

	font-family: inherit;
	font-size: inherit;
	font-style: normal;
}
html, body	{ width: 100%; height: 100%; font-family: 'helvetica', sans-serif; font-size: 13pt; }

/*
 * De nav bar
 */
nav
{
	height: 40px;
	color: #222;

	background: #ddd;
	background-image: -webkit-linear-gradient(
			top,
			#ddd,
			#bbb
		);

	box-shadow: 0px 1px 10px #555;

	position: relative;
	z-index: 10;
}
nav img
{
	float: left;
	margin: 2px 0 0 10px;
}
nav h1
{
	font-size: 1em;
	margin: 10px;
	float: left;
	font-family: "Trebuchet MS";
}

nav ul
{
	margin: 0;
	padding: 0;
	float: right;
	background: url('../images/nav-bar.png');
	padding-left: 20px;
}
nav ul li
{
	width: 100px;
	list-style: none;
	float: left;
}
nav > ul > li
{
	height: 40px;
	line-height: 40px;
	text-align: center;
}
nav a
{
	color: #000;
	cursor: default;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}
nav a:link	{ cursor: pointer;}
nav > ul > li
{
	border-right: 1px solid #aaa;
}
nav > ul > li > a
{
	color: #fff;
}
nav ul li ul
{
	padding: 0;
	text-align: left;
	width: 120px;
	margin-left: -20px;
	border: 1px solid #888;
	-webkit-border-radius: 2px 0 2px 2px;
	background: #fff;

	display: none;
}
nav ul li:hover ul
{
	display: block;
}
nav ul li ul li
{
	padding: 0 10px;
}
nav ul li ul li:hover
{
	background: #aaa;
}

/*
 * Main page styles
 */
#content
{
	padding: 30px;
}
h2
{
	margin: 20px 0 5px;
	font-size: 2em;
}
ul
{
	padding-left: 40px;
}

/*
 * Add test page
 */
fieldset
{
	border: 1px solid #c33;
	margin: 10px 10px 10px 0;
	float: left;
	padding: 20px;
}
legend
{
	font-weight: 600;
	color: #333;
	padding: 0 5px;
	margin: 10px;
}
textarea
{
	width: 400px;
	height: 300px;
}
label
{
	display: block;
	margin: 5px 0;
}
button
{
	display: block;
	float: none;
	background: #c33;
	background: -webkit-linear-gradient(
			top,
			#f33,
			#c33 50%,
			#a33 50%,
			#800
		);
	padding: 2px 5px;
	float: right;
	-webkit-border-radius: 5px;
	color: #fff;
}
button:active
{
	background: #a00;
	background: -webkit-linear-gradient(
			bottom,
			#f33,
			#c33 50%,
			#a33 50%,
			#800
		);
}

/*
 * Doc styles
 */
#content p
{
	line-height: 1.6;
}
#content a
{
	color: #c33;
	text-decoration: none;
}
#content a:hover { text-decoration: underline; }
#content h3
{
	font-size: 20pt;
	padding-left: 10px;
	border-left: 5px solid #c33;
	margin: 20px 0 10px;
}
#content h4
{
	font-size: 16pt;
	margin: 10px 0 5px;
}

#content code, #content pre
{
	background: #ddd;
	border: 1px solid #ccc;
	padding: 3px;
	border-radius: 5px;
	font-family: monospace;
	font-size: 11pt;
}
#content code
{
	padding: 1px 3px;
}
#content pre
{
	margin: 10px;
	padding: 10px;
}
#content pre code
{
	background: none;
	border: none;
	padding: 0;
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
}

/*
 * Page styles
 */
body
{
	background: #eee;
}
#page-wrap 
{
	position: relative;
	padding: 30px 0;
}
header
{
	background: #c33;
	padding: 20px;
	margin-top: -30px;
	border-bottom: 5px solid #333;
}
header:after
{
	content: '';
	display: block;
	clear:both;
}
header * { float: left;}
header h1
{
	font-size: 50pt;
	line-height: 130px;
	margin-left: 10px;
}
header h1 a
{
	text-decoration: none;
	color: #333;
}

/* Style for results */
.item h4 { font-size: 1.3em; box-shadow: 1px 1px 5px #555; width: 490px; margin: 0 0 10px; padding: 5px; }
.item ul { padding:0; box-shadow: 1px 1px 5px #555; width: 500px; }
.item li {
	display: block;
	clear: both;
	padding: 10px;
}
.item li::after
{
	content: ''; display: block;
	clear: both;
}
.item li:nth-child(even) { background: #ddd; }
.item li * {
	float: left;
	margin: 0 10px;
}
.item li div {
	padding: 5px;
	width: 100px;
	text-align: center;
}
.item li div::after
{
	content: ' %';
}
.item li small
{
	float: right;
}
.green {
	background: greenyellow;
}
.red {
	background: #f55;
}
.orange {
	background: orange;
}
	
